<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
<!--        <link-->
<!--                rel="stylesheet"-->
<!--                href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css"-->
<!--                integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"-->
<!--                crossorigin="anonymous"-->
<!--        />-->
        <!--    Favicon Options     -->
        <link rel="apple-touch-icon-precomposed" sizes="57x57" th:href="@{/images/icons/favicon/apple-touch-icon-57x57.png}"  />
        <link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/images/icons/favicon/apple-touch-icon-144x144.png}"  />
        <link rel="apple-touch-icon-precomposed" sizes="60x60" th:href="@{/images/icons/favicon/apple-touch-icon-60x60.png}"  />
        <link rel="apple-touch-icon-precomposed" sizes="120x120" th:href="@{/images/icons/favicon/apple-touch-icon-120x120.png}"  />
        <link rel="apple-touch-icon-precomposed" sizes="76x76" th:href="@{/images/icons/favicon/apple-touch-icon-76x76.png}"  />
        <link rel="apple-touch-icon-precomposed" sizes="152x152" th:href="@{/images/icons/favicon/apple-touch-icon-152x152.png}"  />
        <link rel="icon" type="image/png" sizes="196x196"  th:href="@{/images/icons/favicon/favicon-196x196.png}" />
        <link rel="icon" type="image/png" sizes="96x96"  th:href="@{/images/icons/favicon/favicon-96x96.png}" />
        <link rel="icon" type="image/png" sizes="32x32"  th:href="@{/images/icons/favicon/favicon-32x32.png}" />
        <link rel="icon" type="image/png" sizes="16x16"  th:href="@{/images/icons/favicon/favicon-16x16.png}" />
        <link rel="icon" type="image/png" sizes="128x128"  th:href="@{/images/icons/favicon/favicon-128.png}" />
        <meta name="application-name" content="&nbsp;"/>
        <meta name="msapplication-TileColor" content="#FFFFFF" />
        <meta name="msapplication-TileImage" th:attr="content=|@{images/favicon/mstile-144x144.png}|" />
        <meta name="msapplication-square70x70logo" th:attr="content=|@{images/favicon/mstile-70x70.png}|" />
        <meta name="msapplication-square150x150logo" th:attr="content=|@{images/favicon/mstile-150x150.png}|" />
        <meta name="msapplication-wide310x150logo" th:attr="content=|@{images/favicon/mstile-310x150.png}|" />
        <meta name="msapplication-square310x310logo" th:attr="content=|@{images/favicon/mstile-310x310.png}|" />
        <!--            End Favicon     -->
        <title>Lendit Book Kiosk</title>
    </head>
    <body>
        <nav></nav>
        <header></header>
        <main >
            <div sec:authorize="hasAuthority('ROLE_USER')" >
                <div th:replace="fragments/book_finder:: #book-finder"></div>
            </div>

        </main>
        <footer></footer>
<!--        &lt;!&ndash; jQuery (necessary for Bootstrap's JavaScript plugins) &ndash;&gt;-->
<!--        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>-->
<!--        &lt;!&ndash; Include all compiled plugins (below), or include individual files as needed &ndash;&gt;-->
<!--        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>-->

    </body>
</html>