<!--
login.html
-->
<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
        lang="en"
>

    <body>
            <div  class="container-fluid"   >
                <div th:replace="fragments/login_page :: #login_page"></div>
            </div>
<!--/*-->
<!--            sec:authorize="isAuthenticated()"-->
<!--         <div  -->
<!--                    class="container-fluid"-->
<!--                    sec:authorize="isAuthenticated()"-->
<!--                    th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_STUDENT'') or hasRole(''ROLE_USER'')')}"-->
<!--            >-->
<!--&lt;!&ndash;    th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'') or hasRole(''ROLE_STUDENT'') or hasRole(''ROLE_USER'')')}"-->
<!--        &ndash;&gt;-->
<!--                <div th:replace="fragments/student :: #book-search"></div>-->
<!--            </div> -->
<!--*/-->
    </body>
</html>